@model WeWorkModel.Company

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.website)
            @Html.ValidationMessageFor(model => model.website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jobsPageUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jobsPageUrl)
            @Html.ValidationMessageFor(model => model.jobsPageUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tags)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tags)
            @Html.ValidationMessageFor(model => model.tags)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.technologies)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.technologies)
            @Html.ValidationMessageFor(model => model.technologies)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numberOfEmployees)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numberOfEmployees)
            @Html.ValidationMessageFor(model => model.numberOfEmployees)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.revenue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.revenue)
            @Html.ValidationMessageFor(model => model.revenue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.logo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.logo)
            @Html.ValidationMessageFor(model => model.logo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
