@model IEnumerable<WeWorkModel.Company>

@{
    ViewBag.Title = "Index";
}

<div class="section_header">
    <h1><span class="count">@Model.Count() </span> Companies</h1>
    @Html.ActionLink("+ Add a Company", "Create")
    <div id="view_options">
        <span class="sorting">
            <strong>Sort by:</strong>
            <a class="name asc" href="/companies?column=name&order=asc">Name</a>
            ,
            <a class="created_at current asc" href="/companies?column=created_at&order=asc">Date added</a>
            ,
            <a class="random asc" href="/companies?column=random&order=asc">Random</a>
        </span>
    </div>
    @Html.ActionLink("Map", "Map")
</div>

<ul class="resource_list companies">
    @foreach (var item in Model) {
        <li class="company">
            <a class="avatar" href="@item.logo"><img src="@item.logo"/></a>
    
            <h3>
                @Html.ActionLink(item.name, "Details", new { id = item.companyId })
            </h3>
            <p class="description">@item.description</p>
        </li>
    }
</ul>
